@import "./variables";
@import "./login.scss";
@import "./dashboard.scss";
@import "./reset";
@import "bootstrap/scss/bootstrap.scss";
@import "./helpers";

input[type="text"],
input[type="search"] {
  all: unset;
}

.auth {
  height: 100vh;
  overflow-y: auto;
  background: #f7f7f7;
  header {
    background-color: #fff;
  }

  .main-wrapper {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn {
  all: unset;
  font-size: 0.8rem;
  padding: 0.875rem 3.9rem;
  border-radius: 1.5rem !important;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  display: inline-block;
  &-block {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  &-primary {
    background: $primary;
    color: $light;
  }
  &-outline {
    &-primary {
      border: 1px solid $primary;
      color: $primary;
    }
  }
}

.main {
  background-color: $gray;
  height: inherit;
}
.home {
  height: inherit;
  .container {
    height: 100%;
  }

  .banner {
    // background: red;
    height: 100%;

    display: flex;
    align-items: center;
    .text-content {
      //   background: red;
      display: flex;
      align-items: center;

      @media (min-width: 768px) {
        .btn {
          margin-top: 3rem;
        }
      }

      @media (max-width: 768px) {
        //   .display-1,
        //   .button {
        //     text-align: center;
        //   }
        .wrapper {
          text-align: center;
        }
      }
    }
    .image {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      gap: 2rem;
      .image {
        display: block;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
.footer {
  padding: 1rem;

  &-wrapper {
    // background-color: red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .social {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}
